.login {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  margin-top: 2rem !important;
  height: calc(100vh - 16rem);

  h1 {
    font-family: var(--type-second);
    font-weight: 100;
    font-size: 2.25rem;
    margin-bottom: 1rem;
    span {
      position: relative;

      /* &:after {
            //     content: "";
            //     height: 2px;
            //     width: 100%;
            //     background-color: #333;
            //     position: absolute;
            //     right: 0;
            }*/
    }
  }

  button {
    width: 9.375rem;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

   a {
      display: block;
      text-decoration: underline;
    }

  img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
