.wrapper {
    margin-bottom: 1rem;
  }
  
  .input {
    border: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background: var(--text-light-2);
    transition: 0.2s;
  }
  
  .input:hover,
  .input:focus {
    outline: none;
    border-color: var(--yellow);
    background: #B2AD8F;
    box-shadow: 0 0 0 2px #606654;
  }
  
  .label {
    color: var(--text-dark);
    display: block;
    font-size: 1rem;
    line-height: 1;
    padding-bottom: 0.5rem;
  }
  
  .error {
      color: #f31;
      font-size: .875rem;
      margin-top: .25rem;
  }