.btnProduct {
    position: relative;
    background-color: #FD941F;
    color: var(--text-light);
    border-radius: 0.625rem;
    padding: 1rem ;
    font-size: 1rem;
    max-width: 11.875rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    transition: .3s;
    cursor: pointer;
    font-family: var(--type-first);

    &:hover {
        background-color: var(--green-dark);
        color: var(--text-light);
    }
    
    span {
        background-color: var(--green-dark);
        border-radius: 50%;
        width: 2.125rem;
        padding: .5rem;
        position: absolute;
        top: -.5rem;
        right: -1rem;
        transition: all 0.3s;
    }

    &:hover span {
        background-color: var(--yellow);
        color: var(--text-light);
    }
    
}