@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap");


* {
  box-sizing: border-box;
}

:root {
  --yellow: #FD941F;
  --yellow-light: #f5a850;
  --yellow-dark: #DF8E33;
  --brown: #3D1E0A;
  --brown-light: #59301B;
  --brown-dark: #2E1904;
  --green-dark: #757C63;
  --green-light: #444B3A;
  --text-dark: #333;
  --text-light: #F2EEE6;
  --text-light-2: #D9CEB8;
  --type-first: 'Roboto', sans-serif;
  --type-second: 'Playfair Display', serif;
}
@media (max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
      font-size: 87.5%; 
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--text-light);
  color: var(--text-dark);
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 2rem;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.4s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}